{% extends "layout.html" %}
{% block pageTitle %}
    {{ serviceName }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
        tag: {
            text: "beta"
        },
        html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back();"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Exporting from the United Kingdom to Jersey and Guernsey
            </h1>

            <p>Information about trading between the UK and the Channel Islands (Jersey and Guernsey, including Sark)
                can be found on:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the <a href="https://www.gov.je/government/departments/jerseyworld/pages/relationshipeuanduk.aspx" target="_blank">Jersey government website (opens in new window)</a>.</li>
                <li>the <a href="https://www.gov.gg/internationaltrade" target="_blank">Guernsey government website (opens in new window)</a>.</li>
            </ul>

            <h2 class="govuk-heading-s">Trading between Jersey and the UK</h2>

            <p>The Jersey-UK Customs Agreement came into effect on 1 January 2021, following the end of
            the Transition Period and the UK's formal departure from the EU. This customs union establishes that:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>there will be no import tariffs for goods passing between the UK and Jersey</li>
                <li>there will be a common external tariff on goods from places outside the customs union</li>
            </ul>

            <p>The following was also agreed between the parties:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>tariff free movement of all types of good between Jersey and the UK, with no quantitative restrictions on imports</li>
                <li>the ability to impose prohibitions or restrictions at border for specific reasons</li>
                <li>participation in a new Joint UK-CD Customs Committee</li>
                <li>retention of Jersey’s autonomy in fiscal matters</li>
                <li>autonomy in maintaining local customs IT systems</li>
            </ul>

            <p>The Jersey-UK Customs Agreement came into effect on 1 January 2021, following the end of the Transition Period and the UK's formal departure from the EU.</p>

            <h2 class="govuk-heading-s">Trading between Guernsey, Sark and the UK</h2>
            <p>On 1st January 2021 the transition period with the European Union (EU) ended and the Bailiwick formed a Customs Union with the UK, Jersey and Isle of Man.</p>

            <p>A <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/759122/Guernsey-UK_Customs_Arrangement_final.pdf" target="_blank">Customs Arrangement</a> was signed between the Bailiwick of Guernsey, the UK, Jersey and Isle of Man on 26th
            November 2018. This Arrangement took effect on 1st January 2021 and allows the tariff free
            movement of goods between the four territories. Effectively the Bailiwick of Guernsey is in a Customs Union
            covering all trade in goods, involving the elimination of customs duty on imports and exports and any
            charges having equivalent effect, and has adopted a common customs tariff in relation to trade with
            any countries outside the Customs Union.</p>

            <p>The Bailiwick is outside the fiscal territory of the UK (i.e. for VAT and excise duty). Therefore certain
            goods are subject to excise duty on importation into the Bailiwick even when imported from the UK,
            Jersey or Isle of Man. Excise duty is a tax charged on the importation and manufacture of alcohol,
            tobacco and certain fuels. VAT (and Jersey’s GST) will continue to be applied to goods arriving into UK,
            Jersey and Isle of Man when sent from the Bailiwick.</p>

        </div>
    </div>

{% endblock %}